

slides > slide {
  overflow-y: auto !important;
  counter-reset: slide-number;
}

slides > slide:not(.nobackground):after {
  content: counter-increment;
}
img{width: 100%}

© 2022 GitHub, Inc.